<%= form_with model: invite do |form| %>
  
  <div>
    <%# form.label :event_id %>
    <%# form.collection_select :event_id, Event.where(creator_id: current_user.id), :id, :date, prompt: false %>
    <%= form.hidden_field :event_id, value: params[:event_id]%>
    <%= form.label :attendee_id %>
    <%= form.collection_select :attendee_id, User.where.not(id: current_user.id), :id, :username, prompt: true %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>