<% if future?(invite.event) %>
  <% accept =  button_to 'Accept',
              accept_user_invite_path(current_user, invite),
              method: :put,
              class: "btn btn-sm btn-primary" %>

  <% tentative = button_to 'Tentative',
              tentative_user_invite_path(current_user, invite),
              method: :put,
              class: "btn btn-sm btn-secondary" %>

  <% decline = button_to 'Decline',
              decline_user_invite_path(current_user, invite),
              method: :put,
              class: "btn btn-sm btn-danger" %>

  <div class="mb-3">
    <strong>Respond:</strong>
    <% if invite.accepted.nil? %>
      <div class="btn-group">
        <%= accept %>
        <%= decline %>
      </div>
    <% elsif invite.accepted %>
      <div class="btn-group">
        <%= tentative %>
        <%= decline %>
      </div>
    <% else %>
      <div class="btn-group">
        <%= accept %>
        <%= tentative %>
      </div>
    <% end %>
  </div>
<% end %>
