<h1>New Invite</h1>

<% if @invites.errors.any? %>
  <h3>The following errors prevented the invite from being sent:</h3>
  <ul>
    <% @invites.errors.messages.each do |msg| %>
     <li><%= msg %></li> 
    <% end %>
  </ul>
<% end %>

<% if past?(@event) %>
  <p>This event has already taken place.</p>
  <p>Create a new event?</p>
  <div> <%= link_to "New event", new_event_path %> </div>
<% else %>
  <%= render 'form', invites: @invites %>
<% end %>
<br>

<div class="mb-3"><%= link_to 'Back', event_path(params[:event_id]) %></div>

<div class="mb-3"><%= link_to "Back to events", root_path %></div>
