<h1>Invite Information</h1>

<div id="<%= dom_id @invite %>">
  <p>
    <strong>From:</strong>
    <%= @invite.event.creator.username %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= @invite.event.date %>
  </p>

  <p>
    <strong>Status:</strong>
    <% if @invite.accepted %>
      Going
    <% elsif @invite.accepted.nil? %>
      Pending confirmation
    <% else %>
      Declined
    <% end %>
  </p>

  <p>
    <strong>Respond:</strong>
    <% if @invite.accepted.nil? %>
      <%= button_to 'Accept', accept_user_invite_path(current_user, @invite), method: :put, data: { confirm: 'Are you sure you want to attend?' } %>
      <%= button_to 'Decline', decline_user_invite_path(current_user, @invite), method: :put, data: { confirm: 'Are you sure you want to dismiss the invite?' } %>
    <% elsif @invite.accepted %>
      <%= button_to 'Decline', decline_user_invite_path(current_user, @invite), method: :put, data: { confirm: 'Are you sure you want to dismiss the invite?' } %>
    <% else %>
      <%= button_to 'Accept anyway', accept_user_invite_path(current_user, @invite), method: :put, data: { confirm: 'Are you sure you want to attend?' } %>
    <% end %>
  </p>
</div>

<%= link_to "Back to my page", user_path(current_user) %>

<%= link_to "Back to events", root_path %>
