<h1>Invite Information</h1>

<div id="<%= dom_id @invite %>">
  <div>
    <strong>From:</strong>
    <%= @invite.event.creator.username %>
  </div>

  <div>
    <strong>Date:</strong>
    <%= date_time_informal(@invite.event.date) %>
  </div>

  <%= render 'status', invite: @invite %>

  <%= render 'respond', invite: @invite %>
</div>

<%= link_to "Back to my page", user_path(current_user) %>

<%= link_to "Back to events", root_path %>
