<h1>Invite Information</h1>

<div id="<%= dom_id @invite %>">
  <div>
    <strong>From:</strong>
    <%= @invite.event.creator.username %>
  </div>

  <div>
    <strong>Date:</strong>
    <%= date_time_informal(@invite.event.date) %>
  </div>

  <div>
    <strong>Status:</strong>
    <% if @invite.accepted %>
      Going
    <% elsif @invite.accepted.nil? %>
      Awaiting response
    <% else %>
      Not going
    <% end %>
  </div>
  
  <% if @invite.event.date > Time.now %>
    <div>
      <strong>Respond:</strong>
      <% if @invite.accepted.nil? %>
        <%= button_to 'Accept', accept_user_invite_path(current_user, @invite), method: :put %>
        <%= button_to 'Decline', decline_user_invite_path(current_user, @invite), method: :put %>
      <% elsif @invite.accepted %>
        <%= button_to 'Tentative', tentative_user_invite_path(current_user, @invite), method: :put %>
        <%= button_to 'Decline', decline_user_invite_path(current_user, @invite), method: :put %>
      <% else %>
        <%= button_to 'Accept', accept_user_invite_path(current_user, @invite), method: :put %>
        <%= button_to 'Tentative', tentative_user_invite_path(current_user, @invite), method: :put %>
      <% end %>
    </div>
  <% end %>
</div>

<%= link_to "Back to my page", user_path(current_user) %>

<%= link_to "Back to events", root_path %>
