<h1><%= "#{@user.username} (#{@user.email})" %></h1>

<div id="<%= dom_id @user %>" class="container">
  <% all_events = Event.where(creator_id: @user.id) %>
  <% past_events = all_events.past %>
  <% future_events = all_events.future %>
  <% attended = Event.attended(@user).includes(:creator) %>
  <% attending = Event.attending(@user).includes(:creator) %>

  <%= render 'own_event', events: past_events, user: @user, event_when: 'past' %>

  <%= render 'own_event', events: future_events, user: @user, event_when: 'upcoming' %>

  <%= render 'attending_event', events: attended, user: @user, verb: 'have attended' %>

  <%= render 'attending_event', events: attending, user: @user, verb: 'will attend' %>

  <%= render 'invites', user: @user %>
</div>

<div class="mb-3"><%= link_to "Back to events", root_path %></div>
