<h1><%= "#{@user.username} (#{@user.email})" %></h1>

<div id="<%= dom_id @user %>">
  <% all_events = Event.where(creator_id: @user.id) %>
  <% past_events = all_events.where("date < ?", Time.now) %>
  <% future_events = all_events.where("date > ?", Time.now) %>

  <%= render 'event', events: past_events, user: @user, event_when: 'past' %>

  <%= render 'event', events: future_events, user: @user, event_when: 'upcoming' %>

  <%= render 'invites', user: @user %>
</div>

<%= link_to "Back to events", root_path %>
