<h1><%= @user.username %></h1>

<div id="<%= dom_id @user %>">
  <p>
    <strong>Email:</strong>
    <%= @user.email %>
  </p>

  <p>
    <strong>Username:</strong>
    <%= @user.username %>
  </p>

  <% my_events  = Event.where(creator_id: @user.id) %>

  <strong><%= current_user == @user ? "My events" : "Events hosted by #{@user.username}" %>:</strong>
  <% my_events.each do |event| %>
    <p>Date: <%= link_to event.date, event_path(event) %></p>
  <% end %>

  <% if @user == current_user %>
    <% my_invites = Invite.where(attendee_id: current_user.id) %>
    <% my_pending = my_invites.where(accepted: nil) %>
    <% my_accepted = my_invites.where(accepted: true) %>
    
    <% if my_invites.any? { |invite| invite.accepted }%>
      <% my_events_attending = Event.where(id: my_accepted.pluck(:event_id)) %>
      <strong>Events I will attend:</strong>
      <% my_events_attending.each do |event| %>
      <%#binding.irb%>
        <p>Date: <%= link_to event.date, event_path(event) %></p>
        <p>From: <%= link_to event.creator.username, user_path(event.creator) %></p>
      <% end %>
    <% end %>

    <strong>My received invites:</strong>
    <% my_invites.each do |invite| %>
      <%#binding.irb%>
      <p>Invite received: <%= link_to invite.created_at, user_invite_path(invite.attendee, invite) %></p>
      <p>From: <%= link_to invite.event.creator.username, user_path(invite.event.creator) %></p>
    <% end %>
  <% end %> 
</div>


<%= link_to "Back to events", root_path %>