<h1>Events</h1>

<div id="events">
  <% @events.each do |event| %>
    <%= link_to event do %>
      <div class="event">
        <div class="creator"> Host: 
        
          <% unless event.creator.username %>
            <%= event.creator.email %></div>
          <% else %>
            <%= event.creator.username %></div>
          <% end %>

        <div class="time"> Date: <%= date_informal(event.date) %></div>
      </div>
    <% end %>
  <% end %>
</div>
<br>

<%= link_to 'New Event', 'events/new' %>