<h1>Event Information</h1>

<div id="<%= dom_id @event %>">
  <p>
    <strong>Host:</strong>
    <%= @event.creator.email %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= @event.date %>
  </p>

</div>

<% if current_user.id == @event.creator_id %>
  <%= link_to "Send invites", new_event_invite_path(event_id: @event.id) %>
<% end %>

<%= link_to "Back to events", root_path %>