<h1>Event Information</h1>

<div id="<%= dom_id @event %>">
  <div>
    <strong>Host:</strong>
    <%= link_to @event.creator.username, user_path(@event.creator) %>
  </div>

  <div>
    <strong>Date and time:</strong>
    <%= date_time_informal(@event.date) %>
  </div>

  <%= render 'guests', event: @event %>

  <%= render 'host_panel', event: @event %>
</div>

<div><%= link_to "Back to events", root_path %></div>
